/*
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
Photo by zhang kaiyv: https://www.pexels.com/photo/white-and-black-spiral-stairs-5659346/
Photo by Manon Thvnd: https://www.pexels.com/photo/blooming-red-plum-blossoms-7295642/
Photo by Nayla Charo: https://www.pexels.com/photo/birds-flying-on-dramatic-sky-12266972/
Photo by Filipp Romanovski: https://www.pexels.com/photo/palm-trees-between-buildings-16347929/
Photo by Lorena Villarreal: https://www.pexels.com/photo/moulin-rouge-in-paris-16646223/
Photo by Matteo Milan: https://www.pexels.com/photo/the-courtyard-of-the-sheikh-zayed-grand-mosque-in-abu-dhabi-united-arab-emirates-15740547/
*/
* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
body,
html {
    height: 100%;
    width: auto;
    display: block;
}
/*section one*/
.section-home {
    border: 2px solid red;
    height: 500px;
    padding: 10px;
    background-color: #1F2937;
}
.hero-one {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 16px;
    margin-right: 200px;
    margin-left: 40px;
    padding: 8px;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-top: -16px;
}
ul {
    list-style: none;
    display: inline-block;
    display: flex;
    gap: 20px;
}
a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
.main-text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}
.body-awes {
    margin-top: 100px;
    margin-left: 40px;
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    border: 2px solid red;
    justify-content: space-between;
}
.awes {
    border: 2px solid red;
    width: 500px;
}
.button {
    background-color: #3882F6;
    border: none;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 20px 20px 10px 0px;
    padding: 10px 32px;
    cursor: pointer;
}
.image {
    border: 2px solid black;
    width: 600px
}
